

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: dimgrey;
    text-align: center;
}
/*==================================
    Navigation/Header Section
  ==================================*/
li, a {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bold;
    /* text-decoration: none; */
    display: inline-block;
    padding: 0px 5px;
    color: black;
}

h3{
    color: crimson;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
    bottom: 27px;
    left: 32%;
}

#moon{
    height: 240px;
    width: 100%;
}

li, a:hover {
    color: blue;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: gray;
}

.name {
    margin-right: 50%;
    font-size: 30px;
    font-weight: bolder;;
}


/*================================
    Main Content Section
  ================================ */

.container {

    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 5%;
    grid-gap: 35px;
    float: left;
}

.bio {
    float: right;
}

#profilePic {
    /* float: left; */
    height: 350px;
    border-radius: 50%;
}

#gamercloud{
    height: 350px;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    
}

img:hover{
    opacity: 0.8;
}

@media only screen and (max-width: 300px) {
    body {
      background-color: lightblue;
    }
  }